<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <div class="card">

 

  <div class="item item-body">
  
    <img class="full-image" src="img/pic5.jpg">
    </div>
    <div class="item item-divider item-positive">
    <center>About Us</center> 
  </div>
    <div class="item item-body">   
<p>
      FRENSOL SOLUTIONS is a group of technical people with a creative and innovative though in designing, implementing mobile apps and websites </p></div>
<div class="item item-divider item-positive">
<center>Mission</center>
</div>
<div class="item item-text-wrap">

<p>
Deliver high quality and value added services to our clients with the goal of “total client satisfaction”.

Build and nurture a team of satisfied professionals who continuously aim at bettering the best.

Practice a culture of open and transparent communication where all associates can speak, be heard, and their thoughts respected.

Build an environment competitive with the best in the world where associates can see value addition, by providing opportunity to learn, grow and achieve personal as well as professional goals .
    </p>
    
  


  </div>

</div>
  </ion-content>
</ion-view>
