<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Dash Board</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
       <a nav-clear menu-close class="item item-icon-left" href="#/app/portfolio">
        <i class="icon ion-briefcase"></i>
          Portfolio
        </a>
        <a nav-clear menu-close class="item item-icon-left" href="#/app/about">
        <i class="icon ion-ios7-world-outline"></i>
          About
        </a>
        <a nav-clear menu-close class="item item-icon-left" href="#/app/ourteam">
        <i class="icon ion-ios7-people"></i>
          Our Team
        </a>
        <a nav-clear menu-close class="item item-icon-left" href="#/app/client">
        <i class="icon ion-android-social"></i>
          Clients
        </a>
        <a nav-clear menu-close class="item item-icon-left" href="#/app/contact">
        <i class="icon ion-android-add-contact"></i>
          Contact
        </a>
         <a nav-clear menu-close class="item item-icon-left" href="#" onclick="window.open('http://www.fb.com/frensolsolutions', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-facebook"></i>
           Facebook
        </a>
         <a nav-clear menu-close class="item item-icon-left" href="#" onclick="window.open('http://twitter.com/frensolsol', '_system', 'location=yes'); return false;">
        <i class="icon  ion-social-twitter"></i>
           Twitter
        </a>
         <a nav-clear menu-close class="item item-icon-left" href="#" onclick="window.open('http://www.linkedin.com/company/frensol-solutions', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-linkedin"></i>
           LinkedIn
        </a>
         <a nav-clear menu-close class="item item-icon-left" href="#" onclick="window.open('http://www.youtube.com/channel/UC-3IetZfoRlsBhoAquobrnQ', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-youtube"></i>
           youtube
        </a>
      
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
