<ion-view title="Our Team">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">

    <a class="item item-thumbnail-right" href="#/app/santos">
      <img src="img/santos.jpg">
      <h2>SantosKumar Bhagavathi</h2>
      <p>Development Manager</p>
    </a>
    <a class="item item-thumbnail-right" href="#/app/phani">
      <img src="img/phani.png">
      <h2>ChandraShekar PhaniRaju <br/>Tamanna</h2>
      <p>Web Developer</p>
    </a>
    <a class="item item-thumbnail-right" href="#/app/ratnakar">
      <img src="img/ratnakar.jpg">
      <h2>Ratnakar Muramalla</h2>
      <p>Mobile App Developer</p>
    </a>
    <a class="item item-thumbnail-right" href="#/app/sandeep">
      <imh src="img/sandeep.jpg">
      <h2>Sandeep Sadi</h2>
      <p>Tester</p>
    </a>
    <a class="item item-thumbnail-right" href="#/app/sudhakar">
      <img src="img/sudhakar.jpg">
      <h2>Sudhakar Nagadevara</h2>
      <p>Marketing Head</p>
    </a>
    
  </ion-content>
</ion-view>
