c<ion-view title="ChandraShekar PhaniRaju">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
  <center> 
<a class="item item-thumbnail" href="#">
     <img class="full-image" src="img/phani.png"></a></center>

 
   <div class="item item-button-right">
    <b>8500641681</b>
    <a href="tel:+91-8500641681" class="button button-outline button-positive">
      <i class="icon ion-ios7-telephone"></i>
    </a>
  </div>
<div class="item item-button-right">
    <b>phani@frensol.com</b>
   <a href="mailto:phani@frensol.com" class="button button-outline button-positive">
    <i class="icon ion-email"></i>
    </a>
  </div>
  <div class="item item-button-right">
    <b>support@frensol.com</b>
    <a href="mailto:support@frensol.com" class="button button-outline button-positive">
    <i class="icon ion-email"></i>
    </a>
  </div>
  <div class="item item-button-right">
    <b>www.frensol.com</b>
    <a href="#" onclick="window.open('http://www.frensol.com/', '_system', 'location=yes'); return false;" class="button button-outline button-positive">
    <i class="icon ion-ios7-world"></i>
    </a>
  </div>
  <div class="item item-button-right">
    <b>www.fb.com/phani</b>
    <a href="#" onclick="window.open('http://www.facebook.com/iamchandu.44', '_system', 'location=yes'); return false;" class="button button-outline button-positive">
    <i class="icon ion-social-facebook"></i>
    </a>
  </div>
  

<br/>
</div>
  </ion-content>
</ion-view>
