<ion-view title="Portfolio">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <div class="list">

    <a class="item item-thumbnail no-padding" href="#/app/port1">
     <img class="full-image" src="img/Logo_services.jpg">
     </a>

      <a class="item item-thumbnail no-padding" href="#/app/port3">
     <img class="full-image" src="img/Vcard_services.jpg">
     </a>

      <a class="item item-thumbnail no-padding" href="#/app/port2">
     <img class="full-image" src="img/Brochure_services.jpg">
     </a>
      
       <a class="item item-thumbnail no-padding" href="#/app/port4">
     <img class="full-image" src="img/Mobile_services.jpg">
      
       </a>
        <a class="item item-thumbnail no-padding" href="#/app/port5">
     <img class="full-image" src="img/Web_services.jpg">
      
       </a>
    </div>
  </ion-content>
</ion-view>
